body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

#logo {
  width: 100%;
  background: #2d7aa6;
  color: rgb(255, 255, 255);
  margin: 0;
}

#title {
  font-size: 3em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4e96bf;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
}

#navbar li {
  display: inline;
  margin-left: 3em;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
}

li:hover {
  background: #022a41;
}

#news {
  max-width: 90%;
  margin: 20px auto;
  background: rgb(211, 211, 211);
  border: 0;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}

#news h1 {
  text-align: right;
  color: #2d7aa6;
}

.element {
  margin: 5px;
  display: inline-block;
  border: 1px solid #2d7aa6;
  border-radius: 5px;
  width: -webkit-fill-available;
  max-width: 30%;
  height: 300px;
  padding: 10px;
  text-align: right;
}

.element img {
  width: 100%;
  max-height: 200px;
}

.element .news-title {
  max-height: 20px;
  color: #2d7aa6;
  font-size: 18px;
  font-weight: bold;
}